services:
  rabbitmq:
    build: docker/rabbit-mq
    restart: unless-stopped
    ports:
      - '5672:5672'
      - '15672:15672'
    healthcheck:
      test: ['CMD', 'nc', '-z', 'localhost', '5672']
      interval: 5s
      timeout: 15s
      retries: 1
    volumes:
      - 'rabbitmq:/var/lib/rabbitmq/mnesia/'
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}

  postgres:
    image: postgres:15.1-alpine3.17
    restart: unless-stopped
    ports:
      - '5432:5432'
    healthcheck:
      test: ['CMD', 'nc', '-z', 'localhost', '5432']
      interval: 5s
      timeout: 15s
      retries: 1
    volumes:
      - 'postgres:/var/lib/postgresql/data'
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}

volumes:
  rabbitmq:
  postgres:
